*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    background: #cfcfcf;
    font-size: 14px;
    line-height: 22px;
    color: #0c0c0c;
    width: 100%;
}

.container{
    width: 800px;
    height: 1100px;
    display: flex;
    margin: 50px auto;
    background: red;
}
.left_rec{
    width: 280px;
    height: 1100px;
    background: #000000;
}

.left_col_1{
    position: relative;
    width: 100%;
    height: 300px;
    background: #327D9D;
}

img{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 25px;
    left: 35px;
    border-radius: 50%;
}


.right_rec{
    width: 520px;
    height: 1100px;
    background: #A99265;
  }

  .name{
    position: absolute;
    color: whitesmoke;
    top: 240px;
    left: 50px;
    font-weight: 700;
    font-size: 20px;
}
